:root {
  --color-primary: #3b82f6;
  --color-secondary: #2563eb;
  --color-gray-medium: #374151;
  --color-gray-bold: #1f2937;
  --round: 0.375rem;
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

body {
  background-color: white;
  font-family: Poppins, sans-serif;
}
